<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Main page</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container mt-5">
        <h1 class="display-4">Main page</h1>
        <p class="lead">The main page</p>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>